<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">

        <!-- Debug-only QA hook. Only the Android shell/system can invoke it
             because ordinary apps do not hold the signature DUMP permission. -->
        <receiver
            android:name=".debug.DebugWatchlistFixtureReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.mortyyjt.sagesense.debug.ADD_TEMPORARY_CALLER" />
                <action android:name="com.mortyyjt.sagesense.debug.REMOVE_TEMPORARY_CALLER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
